In [2]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [4]:
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

schema=['id','name','sal','mngr_id']

emp_df= spark.createDataFrame(data=data,schema=schema)
emp_df.show()

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [5]:
emp_df.count()

9

In [6]:


location = ['Pune','Nagar','Mumbai','Solapur','Kolhapur','Satara','Nashik','Jamkhed','Pimpalgaon']

In [15]:
import pyspark.sql.functions as F
from pyspark.sql.functions import *

# emp_df.withColumn('Location', F.expr('F.lit(i) for i in location')).show()

In [33]:
data=[('Mahesh' ,'DIV-CHN_099',50000),
('bala' ,'DIV-PN_999',75000),
('Sonu' ,'DIV-MUM_799',40000),
('Monu' ,'DIV-ANG_769',60000),
]

schema=['Name','Ref_Id','sal']

emp_df1= spark.createDataFrame(data=data,schema=schema)
emp_df1.show()

+------+-----------+-----+
|  Name|     Ref_Id|  sal|
+------+-----------+-----+
|Mahesh|DIV-CHN_099|50000|
|  bala| DIV-PN_999|75000|
|  Sonu|DIV-MUM_799|40000|
|  Monu|DIV-ANG_769|60000|
+------+-----------+-----+

In [45]:
# new_df = emp_df1.withColumn('Location',split(col('Ref_Id'),'-')[1])
# new_df.withColumn('Location',split(col('Location'),'_')[0]).show()

emp_df2 =emp_df1.withColumn('Location',split(split(col('Ref_Id'),'-')[1],'_')[0])

In [53]:
emp_df2.withColumn('Location', when(emp_df2.Location=='CHN','Chennai')
 .when(col('Location')=='PN','Pune')
 .when(col('Location')=='MUM','Mumbai')
 .when(col('Location')=='ANG','Ahmendnagar').otherwise('NULL')).show()
                       
# emp_df2.show()

+------+-----------+-----+-----------+
|  Name|     Ref_Id|  sal|   Location|
+------+-----------+-----+-----------+
|Mahesh|DIV-CHN_099|50000|    Chennai|
|  bala| DIV-PN_999|75000|       Pune|
|  Sonu|DIV-MUM_799|40000|     Mumbai|
|  Monu|DIV-ANG_769|60000|Ahmendnagar|
+------+-----------+-----+-----------+

In [54]:
emp_df1.show()

+------+-----------+-----+
|  Name|     Ref_Id|  sal|
+------+-----------+-----+
|Mahesh|DIV-CHN_099|50000|
|  bala| DIV-PN_999|75000|
|  Sonu|DIV-MUM_799|40000|
|  Monu|DIV-ANG_769|60000|
+------+-----------+-----+

In [55]:
emp_df.show()

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [82]:
data=[(10 ,'Anil',50000, "Auto"),
(11 ,'Vikas',75000,  "Auto"),
(12 ,'Nisha',40000,  "Civil"),
(13 ,'Nidhi',60000,  "Auto"),
(14 ,'Priya',80000,  "Civil"),
(15 ,'Mohit',45000,  "Auto"),
(16 ,'Rajesh',90000, "Mech"),
(17 ,'Raman',55000, "Mech"),
(18 ,'Sam',65000,   "Civil"),
(11 ,'Sadhu',75000,  "Auto")]

schema=['id','name','sal','Dept']

employe_df = spark.createDataFrame(data=data,schema=schema)
employe_df.show()

+---+------+-----+-----+
| id|  name|  sal| Dept|
+---+------+-----+-----+
| 10|  Anil|50000| Auto|
| 11| Vikas|75000| Auto|
| 12| Nisha|40000|Civil|
| 13| Nidhi|60000| Auto|
| 14| Priya|80000|Civil|
| 15| Mohit|45000| Auto|
| 16|Rajesh|90000| Mech|
| 17| Raman|55000| Mech|
| 18|   Sam|65000|Civil|
| 11| Sadhu|75000| Auto|
+---+------+-----+-----+

In [57]:
employe_df.createOrReplaceTempView('emp_tble')

In [63]:
spark.sql("""
              SELECT max(sal), Dept FROM emp_tble
              GROUP BY Dept
          
          """).show()

+--------+-----+
|max(sal)| Dept|
+--------+-----+
|   75000| Auto|
|   80000|Civil|
|   90000| Mech|
+--------+-----+

In [65]:
spark.sql("""
              SELECT max(sal),name FROM emp_tble
              GROUP BY name
          
          """).show()

+--------+------+
|max(sal)|  name|
+--------+------+
|   50000|  Anil|
|   75000| Vikas|
|   40000| Nisha|
|   60000| Nidhi|
|   80000| Priya|
|   45000| Mohit|
|   90000|Rajesh|
|   65000|   Sam|
|   55000| Raman|
+--------+------+

In [83]:
from pyspark.sql.window import Window

window = Window.partitionBy('Dept').orderBy(col('Sal').desc())

employe_df_new = employe_df.withColumn('Rank',dense_rank().over(window)).filter(col('Rank')<2)

In [85]:
employe_df_new.select('Sal','Dept').distinct().show()

+-----+-----+
|  Sal| Dept|
+-----+-----+
|75000| Auto|
|80000|Civil|
|90000| Mech|
+-----+-----+

In [91]:
employe_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- sal: long (nullable = true)
 |-- Dept: string (nullable = true)

In [41]:
employe_df.show()

+---+-----+-----+------+
| id| name|  sal|DeptId|
+---+-----+-----+------+
|  1|  Joe|70000|     1|
|  2|  Jim|90000|     1|
|  3|Henry|80000|     2|
|  4|  Sam|60000|     2|
|  5|  Max|90000|     1|
+---+-----+-----+------+

In [62]:
employe_df.select(sum('sal')).show()

+--------+
|sum(sal)|
+--------+
|  390000|
+--------+

In [51]:
employe_df.createOrReplaceTempView('employe_tble')

In [63]:
employe_df.show()

+---+-----+-----+------+
| id| name|  sal|DeptId|
+---+-----+-----+------+
|  1|  Joe|70000|     1|
|  2|  Jim|90000|     1|
|  3|Henry|80000|     2|
|  4|  Sam|60000|     2|
|  5|  Max|90000|     1|
+---+-----+-----+------+

In [66]:
new_df = employe_df.groupBy('DeptId').agg(max('sal'))
new_df.show()

+------+--------+
|DeptId|max(sal)|
+------+--------+
|     1|   90000|
|     2|   80000|
+------+--------+

In [68]:
final_df= employe_df.alias('emp').join(new_df.alias('ndf'),(col('emp.DeptId')== col('ndf.DeptId')) & (col('emp.sal')== col('ndf.max(sal)')) ,'inner')
final_df.show()

+---+-----+-----+------+------+--------+
| id| name|  sal|DeptId|DeptId|max(sal)|
+---+-----+-----+------+------+--------+
|  2|  Jim|90000|     1|     1|   90000|
|  3|Henry|80000|     2|     2|   80000|
|  5|  Max|90000|     1|     1|   90000|
+---+-----+-----+------+------+--------+

In [64]:
spark.sql(""" 
            select id,DeptId,max(sal) from employe_tble
            group by DeptId,id
""").show()

+---+------+--------+
| id|DeptId|max(sal)|
+---+------+--------+
|  1|     1|   70000|
|  2|     1|   90000|
|  3|     2|   80000|
|  4|     2|   60000|
|  5|     1|   90000|
+---+------+--------+

In [57]:
spark.sql(""" 
            select id,DeptId,max(sal) from employe_tble
            group by DeptId
""").show()

+------+--------+
|DeptId|max(sal)|
+------+--------+
|     1|   90000|
|     2|   80000|
+------+--------+

In [45]:
employe_df.groupBy().sum().show()

+-------+--------+-----------+
|sum(id)|sum(sal)|sum(DeptId)|
+-------+--------+-----------+
|     15|  390000|          7|
+-------+--------+-----------+

In [47]:
employe_df.agg(sum("sal")).collect()[0][0]

390000

In [48]:
employe_df.agg(sum("sal")).collect()

[Row(sum(sal)=390000)]

In [50]:
employe_df.agg(sum("sal")).collect()[0]

Row(sum(sal)=390000)

In [49]:
employe_df.agg(sum("sal")).show()

+--------+
|sum(sal)|
+--------+
|  390000|
+--------+

In [98]:
window= Window.orderBy(col('sal').desc())

new_df= employe_df.withColumn('Dense_rank',dense_rank().over(window))

In [ ]:
# new_df.withColumn('Dense_rank',when('Dense_rank' == 2,(filter('Dense_rank' ==2 )) ).otherwise('NULL')).show()

In [100]:
new_df.filter(col('Dense_rank') ==2 ).show()

+---+-----+-----+-----+----------+
| id| name|  sal| Dept|Dense_rank|
+---+-----+-----+-----+----------+
| 14|Priya|80000|Civil|         2|
+---+-----+-----+-----+----------+

In [103]:
data=[(10 ,'Anil',50000, "Auto"),
]

schema=['id','name','sal','Dept']

emp1 = spark.createDataFrame(data=data,schema=schema)
emp1.show()

+---+----+-----+----+
| id|name|  sal|Dept|
+---+----+-----+----+
| 10|Anil|50000|Auto|
+---+----+-----+----+

In [114]:
window= Window.orderBy(col('sal').desc())

new_df= emp1.withColumn('Dense_rank',dense_rank().over(window))

new_df.filter(col('Dense_rank') ==2 ).select(col('sal').isNull()).show()

+-------------+
|(sal IS NULL)|
+-------------+
+-------------+

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 64850)
Traceback (most recent call last):
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 755, in __init__
    self.handle()
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\accumulators.py", line 295, in handle
    poll(accum_updates)
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\accumulators.py", line 267, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\serializers.py", line 594, in read_int
    length = stream.read(4)
             ^^^^^^^^^^^^^^
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socket.py", line 706, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
----------------------------------------

In [109]:
new_df.createOrReplaceTempView('one_df')

In [112]:
spark.sql("""SELECT MAX(sal) as second_Highest_salary FROM one_df WHERE sal < (SELECT MAX(sal) FROM one_df);

 """).show()

+---------------------+
|second_Highest_salary|
+---------------------+
|                 NULL|
+---------------------+

In [3]:
data=[(1,'Joe',70000,1),
(2,'Jim',90000,1),
(3,'Henry',80000,2),
(4,'Sam',60000,2),
(5,'Max',90000,1)]

schema=['id','name','sal','DeptId']

employe_df = spark.createDataFrame(data=data,schema=schema)
employe_df.show()

+---+-----+-----+------+
| id| name|  sal|DeptId|
+---+-----+-----+------+
|  1|  Joe|70000|     1|
|  2|  Jim|90000|     1|
|  3|Henry|80000|     2|
|  4|  Sam|60000|     2|
|  5|  Max|90000|     1|
+---+-----+-----+------+

In [4]:
data=[(1,'IT'),
(2,'Sales')
]

schema=['id','name']

dept_df = spark.createDataFrame(data=data,schema=schema)
dept_df.show()

+---+-----+
| id| name|
+---+-----+
|  1|   IT|
|  2|Sales|
+---+-----+

In [39]:
# new_df= employe_df.alias('emp').join(dept_df.alias('dept'),col('emp.DeptId')==col('dept.id'),'inner').select(col('dept.name').alias('Department'),col('emp.name').alias('Employee'),col('emp.sal'))
new_df= employe_df.alias('emp').join(dept_df.alias('dept'),col('emp.DeptId')==col('dept.id'),'inner').select('*',col('dept.name').alias('Department'))

In [40]:
new_df.show()

+---+-----+-----+------+---+-----+----------+
| id| name|  sal|DeptId| id| name|Department|
+---+-----+-----+------+---+-----+----------+
|  1|  Joe|70000|     1|  1|   IT|        IT|
|  2|  Jim|90000|     1|  1|   IT|        IT|
|  5|  Max|90000|     1|  1|   IT|        IT|
|  3|Henry|80000|     2|  2|Sales|     Sales|
|  4|  Sam|60000|     2|  2|Sales|     Sales|
+---+-----+-----+------+---+-----+----------+

In [31]:
from pyspark.sql.functions import *
from pyspark.sql.window import Window
window= Window.partitionBy('Department').orderBy(col('sal').desc())
final_df= new_df.withColumn('dense_rank',dense_rank().over(window))

In [35]:
final_df.filter(col('dense_rank') ==1 ).drop('dense_rank').show()

+----------+--------+-----+
|Department|Employee|  sal|
+----------+--------+-----+
|        IT|     Jim|90000|
|        IT|     Max|90000|
|     Sales|   Henry|80000|
+----------+--------+-----+

In [5]:
employe_df.createOrReplaceTempView('employe_df')
dept_df.createOrReplaceTempView('dept_df')

In [8]:
spark.sql("""
select Department.name as Department, Employee.name as Employee,DENSE_RANK() OVER (PARTITION BY Department  ORDER BY  salary DESC ) AS dense_rank
-- From Employee emp
-- join Department dept
-- on Employee.departmentId = Department.id
-- ORDER BY salary
          """).show()

AnalysisException: [UNSUPPORTED_FEATURE.LATERAL_COLUMN_ALIAS_IN_WINDOW] The feature is not supported: Referencing a lateral column alias `Department` in window expression "DENSE_RANK() OVER (PARTITION BY lateralAliasReference(Department) ORDER BY salary DESC NULLS LAST unspecifiedframe$())".