In [1]:
# Import
from pyspark.sql import SparkSession

In [2]:
# Create DataFrame
simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

In [3]:
schema = ["employee_name","department","state","salary","age","bonus"]

In [4]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [5]:
df = spark.createDataFrame(data=simpleData, schema = schema)
#df.printSchema()

In [6]:
data = ["Project Gutenberg’s",
        "Alice’s Adventures in Wonderland",
        "Project Gutenberg’s",
        "Adventures in Wonderland",
        "Project Gutenberg’s"]
rdd=spark.sparkContext.parallelize(data)
# for element in rdd.collect():
#     print(element)

In [7]:
rdd2=rdd.flatMap(lambda x: x.split(" "))
for element in rdd2.collect():
    print(element)

Project
Gutenberg’s
Alice’s
Adventures
in
Wonderland
Project
Gutenberg’s
Adventures
in
Wonderland
Project
Gutenberg’s

In [8]:
data = [('James','Smith','M',3000),
  ('Anna','Rose','F',4100),
  ('Robert','Williams','M',6200), 
]

columns = ["firstname","lastname","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
#df.show()

In [9]:
#Example 1 mapPartitions()
def reformat(partitionData):
    for row in partitionData:
        yield [row.firstname+","+row.lastname,row.salary*10/100]
df2=df.rdd.mapPartitions(reformat).toDF(["name","bonus"])
df2.show()

+---------------+-----+
|           name|bonus|
+---------------+-----+
|    James,Smith|300.0|
|      Anna,Rose|410.0|
|Robert,Williams|620.0|
+---------------+-----+

In [10]:
df=spark.range(100)
#df.show()
#df.columns
df.select('id').count()

100

In [11]:
df1 = df.sample(0.06)
print(df1.count())
#print(len(df1.columns))

6

In [12]:
df1.show()

+---+
| id|
+---+
| 12|
| 55|
| 62|
| 74|
| 82|
| 89|
+---+

In [339]:
# EMP DataFrame
empData = [(1,"Smith",10,None,3000),
    (2,"Rose",20,"M",4000),
    (3,"Williams",10,"M",1000),
    (4,"Jones",10,"F",2000),
    (5,"Brown",30,"",-1),
    (6,"Brown",30,"",-1)
  ]
  
empColumns = ["emp_id","name","dept_id",
  "gender","salary"]
empDF = spark.createDataFrame(empData,empColumns)
empDF.show()

+------+--------+-------+------+------+
|emp_id|    name|dept_id|gender|salary|
+------+--------+-------+------+------+
|     1|   Smith|     10|  NULL|  3000|
|     2|    Rose|     20|     M|  4000|
|     3|Williams|     10|     M|  1000|
|     4|   Jones|     10|     F|  2000|
|     5|   Brown|     30|      |    -1|
|     6|   Brown|     30|      |    -1|
+------+--------+-------+------+------+

In [14]:
#rows = empDF.count()
#print(f"DataFrame Rows count : {rows}")
empDF.distinct().count()

6

In [15]:
#df1.show()
df1.distinct().count()

6

In [16]:
rdd = spark.sparkContext.parallelize([("a", 1), ("b", 1), ("a", 1)])

In [17]:
rdd.groupByKey().mapValues().collect()

TypeError: RDD.mapValues() missing 1 required positional argument: 'f'

In [ ]:
rd.sort()

In [ ]:
rdd = spark.sparkContext.parallelize([(22, 1), (32, 1), (42, 2)])
dataColl=rdd.collect()
for row in dataColl:
    #print(row[0] + "," +str(row[1]))
    print(row)
print(rdd)

(22, 1)
(32, 1)
(42, 2)
ParallelCollectionRDD[21] at readRDDFromFile at PythonRDD.scala:289

In [ ]:
#rdd_transformed = rdd.map(lambda x, y: (x[0] + y, x[1] + 1))
rdd_transformed = rdd.mapValues(lambda x: (x,1))
#rdd_transformed.collect()
#print(rdd_transformed)


results = rdd_transformed.collect()
for result in results:
    print(result)

(22, (1, 1))
(32, (1, 1))
(42, (2, 1))

In [ ]:
seqFunc = (lambda x, y: (x[0] + y, x[1] + 1))
print(seqFunc)

<function <lambda> at 0x000002352373A8E0>

In [ ]:
def parseLine(line):
    fields = line.split(',')
    age = int(fields[2])
    numFriends = int(fields[3])
    return (age, numFriends)

In [ ]:
from pyspark import SparkConf, SparkContext

#conf = SparkConf().setMaster("local").setAppName("FriendsByAge")
#sc = SparkContext()
lines = spark.sparkContext.textFile("C:\\Users\\10694387\\OneDrive - LTIMindtree\\Documents\\WinUtilsForHadoop\\SparkCourse\\fakefriends.csv")
rdd = lines.map(parseLine)
# print(rdd)

results = rdd.collect()
for result in results:
    print(result)

# totalsByAge = rdd.mapValues(lambda x: (x, 1)).collect()

# for result in totalsByAge:
#     print(result)


# totalsByAge = rdd.mapValues(lambda x: (x, 1)).reduceByKey(lambda x, y: (x[0] + y[0], x[1] + y[1]))
# averagesByAge = totalsByAge.mapValues(lambda x: x[0] / x[1])
# results = averagesByAge.collect()
# for result in results:
#     print(result)

(33, 385)
(26, 2)
(55, 221)
(40, 465)
(68, 21)
(59, 318)
(37, 220)
(54, 307)
(38, 380)
(27, 181)
(53, 191)
(57, 372)
(54, 253)
(56, 444)
(43, 49)
(36, 49)
(22, 323)
(35, 13)
(45, 455)
(60, 246)
(67, 220)
(19, 268)
(30, 72)
(51, 271)
(25, 1)
(21, 445)
(22, 100)
(42, 363)
(49, 476)
(48, 364)
(50, 175)
(39, 161)
(26, 281)
(53, 197)
(43, 249)
(27, 305)
(32, 81)
(58, 21)
(64, 65)
(31, 192)
(52, 413)
(67, 167)
(54, 75)
(58, 345)
(35, 244)
(52, 77)
(25, 96)
(24, 49)
(20, 1)
(40, 254)
(51, 283)
(36, 212)
(19, 269)
(62, 31)
(19, 5)
(41, 278)
(44, 194)
(57, 294)
(59, 158)
(59, 284)
(20, 100)
(62, 442)
(69, 9)
(58, 54)
(31, 15)
(52, 169)
(21, 477)
(48, 135)
(33, 74)
(30, 204)
(52, 393)
(45, 184)
(22, 179)
(20, 384)
(65, 208)
(40, 459)
(62, 201)
(40, 407)
(61, 337)
(58, 348)
(67, 445)
(54, 440)
(57, 465)
(32, 308)
(28, 311)
(66, 383)
(55, 257)
(31, 481)
(66, 188)
(24, 492)
(33, 471)
(46, 88)
(54, 7)
(46, 63)
(62, 133)
(29, 173)
(25, 233)
(69, 361)
(44, 178)
(69, 491)
(61, 460)
(67, 123)
(40, 18)
(61, 2)
(32, 142)
(50, 417)
(18, 499)
(64, 419)
(25, 274)
(53, 417)
(64, 137)
(37, 46)
(25, 13)
(41, 244)
(33, 275)
(18, 397)
(69, 75)
(52, 487)
(28, 304)
(29, 344)
(68, 264)
(35, 355)
(45, 400)
(45, 439)
(47, 429)
(66, 284)
(26, 84)
(40, 284)
(34, 221)
(45, 252)
(67, 350)
(65, 309)
(46, 462)
(19, 265)
(45, 340)
(42, 427)
(19, 335)
(28, 32)
(32, 384)
(36, 193)
(64, 234)
(36, 424)
(59, 335)
(60, 124)
(22, 93)
(45, 470)
(58, 174)
(61, 373)
(39, 248)
(49, 340)
(55, 313)
(54, 441)
(54, 235)
(63, 342)
(40, 389)
(50, 126)
(44, 360)
(34, 319)
(31, 340)
(67, 438)
(58, 112)
(39, 207)
(59, 14)
(67, 204)
(31, 172)
(26, 282)
(25, 10)
(48, 57)
(68, 112)
(53, 92)
(68, 490)
(29, 126)
(55, 204)
(23, 129)
(47, 87)
(38, 459)
(55, 474)
(67, 316)
(26, 381)
(37, 426)
(30, 108)
(43, 404)
(26, 145)
(47, 488)
(44, 84)
(48, 287)
(31, 109)
(47, 225)
(54, 369)
(62, 23)
(60, 294)
(40, 349)
(45, 497)
(60, 125)
(38, 2)
(30, 376)
(38, 173)
(38, 76)
(48, 381)
(38, 180)
(21, 472)
(23, 174)
(63, 469)
(46, 125)
(64, 164)
(69, 236)
(21, 491)
(41, 206)
(37, 271)
(27, 174)
(33, 245)
(61, 73)
(55, 284)
(28, 312)
(32, 182)
(22, 6)
(34, 116)
(29, 260)
(66, 350)
(26, 345)
(41, 394)
(27, 150)
(34, 346)
(40, 406)
(44, 277)
(19, 106)
(37, 207)
(40, 198)
(26, 293)
(24, 150)
(54, 397)
(59, 42)
(68, 481)
(67, 70)
(49, 22)
(57, 8)
(62, 442)
(61, 469)
(25, 305)
(48, 345)
(46, 154)
(45, 332)
(25, 101)
(61, 68)
(21, 471)
(28, 174)
(41, 260)
(52, 338)
(21, 138)
(66, 41)
(36, 342)
(55, 57)
(36, 174)
(69, 116)
(67, 79)
(60, 324)
(32, 412)
(51, 161)
(68, 217)
(29, 11)
(38, 96)
(40, 172)
(51, 334)
(40, 33)
(29, 228)
(27, 471)
(66, 496)
(49, 106)
(26, 298)
(55, 289)
(44, 353)
(25, 446)
(29, 367)
(51, 493)
(64, 244)
(47, 13)
(54, 462)
(46, 300)
(44, 499)
(23, 133)
(26, 492)
(21, 89)
(32, 404)
(65, 443)
(26, 269)
(43, 101)
(30, 384)
(64, 396)
(56, 354)
(30, 221)
(62, 290)
(23, 373)
(63, 380)
(23, 65)
(38, 410)
(40, 56)
(38, 454)
(45, 395)
(57, 207)
(57, 311)
(49, 147)
(28, 108)
(37, 263)
(46, 319)
(19, 404)
(29, 182)
(23, 323)
(41, 340)
(45, 59)
(67, 153)
(68, 189)
(43, 48)
(61, 421)
(59, 169)
(36, 168)
(25, 208)
(64, 391)
(59, 439)
(35, 251)
(30, 476)
(62, 450)
(44, 61)
(58, 92)
(29, 236)
(56, 343)
(51, 492)
(46, 407)
(20, 63)
(62, 41)
(67, 35)
(33, 356)
(30, 17)
(55, 362)
(29, 207)
(40, 7)
(27, 337)
(47, 4)
(58, 10)
(28, 180)
(66, 305)
(57, 275)
(18, 326)
(46, 151)
(26, 254)
(30, 487)
(31, 394)
(29, 329)
(32, 24)
(33, 460)
(20, 277)
(55, 464)
(54, 72)
(27, 53)
(64, 499)
(69, 15)
(46, 352)
(67, 149)
(26, 7)
(52, 276)
(54, 442)
(39, 68)
(68, 206)
(39, 120)
(41, 397)
(54, 115)
(65, 430)
(19, 119)
(39, 106)
(26, 383)
(48, 266)
(53, 86)
(31, 435)
(62, 273)
(19, 272)
(68, 293)
(66, 201)
(23, 392)
(18, 418)
(47, 97)
(60, 304)
(35, 65)
(38, 95)
(66, 240)
(69, 148)
(67, 355)
(57, 436)
(35, 428)
(43, 335)
(30, 184)
(38, 38)
(22, 266)
(64, 309)
(64, 343)
(50, 436)
(23, 230)
(56, 15)
(67, 38)
(69, 470)
(26, 124)
(24, 401)
(29, 128)
(42, 467)
(58, 98)
(21, 224)
(18, 24)
(56, 371)
(57, 121)
(36, 68)
(62, 496)
(19, 267)
(35, 299)
(58, 22)
(53, 451)
(45, 147)
(56, 313)
(30, 65)
(33, 294)
(37, 106)
(32, 212)
(55, 176)
(26, 391)
(40, 261)
(67, 292)
(44, 388)
(55, 470)
(33, 243)
(24, 77)
(28, 258)
(68, 423)
(63, 345)
(36, 493)
(36, 343)
(45, 54)
(38, 203)
(57, 289)
(42, 275)
(57, 229)
(59, 221)
(42, 95)
(18, 417)
(48, 394)
(38, 143)
(46, 105)
(64, 175)
(18, 472)
(40, 286)
(32, 41)
(38, 34)
(48, 439)
(52, 419)
(37, 234)
(28, 34)
(58, 6)
(44, 337)
(52, 456)
(33, 463)
(37, 471)
(51, 81)
(44, 335)
(26, 84)
(47, 400)
(41, 236)
(23, 287)
(40, 220)
(25, 485)
(53, 126)
(33, 228)
(42, 194)
(46, 227)
(55, 271)
(38, 160)
(52, 273)
(27, 154)
(35, 38)
(34, 48)
(52, 446)
(28, 378)
(50, 119)
(41, 62)
(44, 320)
(43, 428)
(32, 97)
(48, 146)
(57, 99)
(22, 478)
(47, 356)
(49, 17)
(69, 431)
(61, 103)
(33, 410)
(65, 101)
(60, 2)
(19, 36)
(23, 357)
(18, 194)
(46, 155)
(39, 275)
(34, 423)
(62, 36)
(62, 12)

In [ ]:
rdd.getNumPartitions()

8

In [ ]:
rdd2 = rdd.repartition(4)
rdd2.getNumPartitions()

4

In [ ]:
data = [1, 2, 3, 4, 5]
distData = spark.sparkContext.parallelize(data)

In [ ]:
lineLengths = distData.map(lambda s: (s+1)).reduce(lambda a, b: a + b)
print(lineLengths)

20

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 50278)
Traceback (most recent call last):
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 755, in __init__
    self.handle()
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\accumulators.py", line 295, in handle
    poll(accum_updates)
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\accumulators.py", line 267, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\serializers.py", line 594, in read_int
    length = stream.read(4)
             ^^^^^^^^^^^^^^
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socket.py", line 706, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
----------------------------------------

In [ ]:
distData.reduce(lambda a, b: a + b)
# #results = distData.map(lambda a: a + 1).collect()
# resulta = distData.map(lambda s: len(s)).collect()
# for result in resulta:
#     print(result)

15

In [ ]:

msg = "Hello Word"
print(msg)

Hello Word

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("test").getOrCreate()
print(spark.version)

3.5.0

In [ ]:
df = spark.createDataFrame([("Mohit",1),("Rohit",2),("Virat",3)],["Name","Value"])
df.show()

+-----+-----+
| Name|Value|
+-----+-----+
|Mohit|    1|
|Rohit|    2|
|Virat|    3|
+-----+-----+

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, monotonically_increasing_id

# Define window specification
w = Window.orderBy(monotonically_increasing_id())

# Add index
df = df.withColumn("index", row_number().over(w))

df.show()

+-----+-----+-----+
| Name|Value|index|
+-----+-----+-----+
|Mohit|    1|    1|
|Rohit|    2|    2|
|Virat|    3|    3|
+-----+-----+-----+

In [ ]:
list1 = ["a","b","c","d"]
list2 = [1,2,3,4]
rdd = spark.sparkContext.parallelize(list1)
df = rdd.toDF(["Column1", "Column2"]) 
df.show()

PySparkTypeError: [CANNOT_INFER_SCHEMA_FOR_TYPE] Can not infer schema for type: `str`.

In [ ]:
# Create an RDD from the lists and convert it to a DataFrame
rdd = spark.sparkContext.parallelize(list2)
df = rdd.toDF(["Column1"])

# Show the DataFrame
df.show()

In [ ]:
list_A = [1, 2, 3, 4, 5]
rdd_A = spark.sparkContext.parallelize(list_A)
print (rdd_A.collect())

[1, 2, 3, 4, 5]

In [ ]:
list_B = [4, 5, 6, 7, 8]
rdd_B = spark.sparkContext.parallelize(list_B)
print (rdd_B.collect())

[4, 5, 6, 7, 8]

In [ ]:
result_rdd =rdd_A.subtract(rdd_B)
print (result_rdd.collect())

[1, 2, 3]

In [ ]:
# Create a sample DataFrame
data = [("A", 10), ("B", 20), ("C", 30), ("D", 40), ("E", 50), ("F", 15), ("G", 28), ("H", 54), ("I", 41), ("J", 86)]
df = spark.createDataFrame(data, ["Name", "Age"])

df.show()

+----+---+
|Name|Age|
+----+---+
|   A| 10|
|   B| 20|
|   C| 30|
|   D| 40|
|   E| 50|
|   F| 15|
|   G| 28|
|   H| 54|
|   I| 41|
|   J| 86|
+----+---+

In [ ]:
# Calculate percentiles
quantiles = df.approxQuantile("Age", [0.0, 0.25, 0.5, 0.75, 1.0], 0.01)

print("Min: ", quantiles[0])
print("25th percentile: ", quantiles[1])
print("Median: ", quantiles[2])
print("75th percentile: ", quantiles[3])
print("Max: ", quantiles[4])

Min:  10.0
25th percentile:  20.0
Median:  30.0
75th percentile:  50.0
Max:  86.0

In [ ]:
df.summary().show()

+-------+----+------------------+
|summary|Name|               Age|
+-------+----+------------------+
|  count|  10|                10|
|   mean|NULL|              37.4|
| stddev|NULL|22.396428286671068|
|    min|   A|                10|
|    25%|NULL|                20|
|    50%|NULL|                30|
|    75%|NULL|                50|
|    max|   J|                86|
+-------+----+------------------+

In [ ]:
from pyspark.sql import Row

# Sample data
data = [
Row(name='John', job='Engineer'),
Row(name='John', job='Engineer'),
Row(name='Mary', job='Scientist'),
Row(name='Bob', job='Engineer'),
Row(name='Bob', job='Engineer'),
Row(name='Bob', job='Scientist'),
Row(name='Sam', job='Doctor'),
]

# create DataFrame
df = spark.createDataFrame(data)

# show DataFrame
df.show()

+----+---------+
|name|      job|
+----+---------+
|John| Engineer|
|John| Engineer|
|Mary|Scientist|
| Bob| Engineer|
| Bob| Engineer|
| Bob|Scientist|
| Sam|   Doctor|
+----+---------+

In [ ]:
df.groupBy("job").count().show()

+---------+-----+
|      job|count|
+---------+-----+
| Engineer|    4|
|Scientist|    2|
|   Doctor|    1|
+---------+-----+

In [ ]:
from pyspark.sql.functions import col, when

# Get the top 2 most frequent jobs
#top_2_jobs = df.groupBy('job').count().orderBy('count', ascending=False).limit(2).select('job').rdd.flatMap(lambda x: x).collect()
top_2_jobs = df.groupBy('job').count().orderBy('count', ascending=False).limit(2).select('job').rdd
#top_2_jobs = df.groupBy('job').count().orderBy('count', ascending=False).limit(2).collect()
#top_2_jobs = df.groupBy('job').count().collect()
print(top_2_jobs.collect())
for element in top_2_jobs.collect():
    print(element)

rdd2=top_2_jobs.flatMap(lambda x: x)
for element in rdd2.collect():
    print(element)    

# Replace all but the top 2 most frequent jobs with 'Other'
df = df.withColumn('job', when(col('job').isin(top_2_jobs), col('job')).otherwise('Other'))

# show DataFrame
#df.show()

[Row(job='Engineer'), Row(job='Scientist')]
Row(job='Engineer')
Row(job='Scientist')
Engineer
Scientist

In [ ]:
[Row(job='Engineer', count=4), Row(job='Scientist', count=2), Row(job='Other', count=1)] --> Line 3 o/p
[Row(job='Engineer', count=4), Row(job='Scientist', count=2)]  --> line 2 o/p
[Row(job='Engineer'), Row(job='Scientist')]  -->line 1 o/p

SyntaxError: invalid syntax (1602598246.py, line 1)

In [ ]:
# Assuming df is your DataFrame
df = spark.createDataFrame([
("A", 1, None),
("B", None, "123" ),
("B", 3, "456"),
("D", None, None),
], ["Name", "Value", "id"])

df.show()

+----+-----+----+
|Name|Value|  id|
+----+-----+----+
|   A|    1|NULL|
|   B| NULL| 123|
|   B|    3| 456|
|   D| NULL|NULL|
+----+-----+----+

In [ ]:
#df_2 = df.dropna(subset=['id'])
#df_2 = df.dropna(subset=['Values'])
df_2 = df.dropna()

df_2.show()

+----+-----+---+
|Name|Value| id|
+----+-----+---+
|   B|    3|456|
+----+-----+---+

In [ ]:
# Suppose you have the following DataFrame
data = [("john",), ("alice",), ("bob",)]
df = spark.createDataFrame(data, ["name"])

df.show()

+-----+
| name|
+-----+
| john|
|alice|
|  bob|
+-----+

In [ ]:

from pyspark.sql import functions as F

df = df.withColumn('word_length', F.length(df.name))
df.show()

+-----+-----------+
| name|word_length|
+-----+-----------+
| john|          4|
|alice|          5|
|  bob|          3|
+-----+-----------+

In [ ]:
# For the sake of example, we'll create a sample DataFrame
data = [('James', 34, 55000),
('Michael', 30, 70000),
('Robert', 37, 60000),
('Maria', 29, 80000),
('Jen', 32, 65000)]

df = spark.createDataFrame(data, ["name", "age" , "salary"])

df.show()

+-------+---+------+
|   name|age|salary|
+-------+---+------+
|  James| 34| 55000|
|Michael| 30| 70000|
| Robert| 37| 60000|
|  Maria| 29| 80000|
|    Jen| 32| 65000|
+-------+---+------+

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# Define window specification
df = df.withColumn("id", F.monotonically_increasing_id())
window = Window.orderBy("id")

# Generate the lag of the variable
df = df.withColumn("prev_value", F.lag(df.salary).over(window))

# Compute the difference with lag
df = df.withColumn("diff", F.when(F.isnull(df.salary - df.prev_value), 0)
.otherwise(df.salary - df.prev_value)).drop("id")

df.show()

+-------+---+------+----------+------+
|   name|age|salary|prev_value|  diff|
+-------+---+------+----------+------+
|  James| 34| 55000|      NULL|     0|
|Michael| 30| 70000|     55000| 15000|
| Robert| 37| 60000|     70000|-10000|
|  Maria| 29| 80000|     60000| 20000|
|    Jen| 32| 65000|     80000|-15000|
+-------+---+------+----------+------+

In [ ]:
# example data
data = [("2023-05-18","01 Jan 2010",), ("2023-12-31", "01 Jan 2010",)]
df = spark.createDataFrame(data, ["date_str_1", "date_str_2"])

df.show()

+----------+-----------+
|date_str_1| date_str_2|
+----------+-----------+
|2023-05-18|01 Jan 2010|
|2023-12-31|01 Jan 2010|
+----------+-----------+

In [ ]:
df.printSchema()

root
 |-- date_str_1: string (nullable = true)
 |-- date_str_2: string (nullable = true)

In [ ]:
# Sample data
data = [
(2021, 1, "US", 5000),
(2021, 1, "EU", 4000),
(2021, 2, "US", 5500),
(2021, 2, "EU", 4500),
(2021, 3, "US", 6000),
(2021, 3, "EU", 5000),
(2021, 4, "US", 7000),
(2021, 4, "EU", 6000),
]

# Create DataFrame
columns = ["year", "quarter", "region", "revenue"]
df = spark.createDataFrame(data, columns)
df.show()

+----+-------+------+-------+
|year|quarter|region|revenue|
+----+-------+------+-------+
|2021|      1|    US|   5000|
|2021|      1|    EU|   4000|
|2021|      2|    US|   5500|
|2021|      2|    EU|   4500|
|2021|      3|    US|   6000|
|2021|      3|    EU|   5000|
|2021|      4|    US|   7000|
|2021|      4|    EU|   6000|
+----+-------+------+-------+

In [ ]:
# Execute the pivot operation
# pivot_df = df.groupBy("year", "quarter").pivot("region").sum("revenue")
pivot_df = df.groupBy("year", "quarter").pivot("region").sum("revenue")

pivot_df.show()

+----+-------+----+----+
|year|quarter|  EU|  US|
+----+-------+----+----+
|2021|      2|4500|5500|
|2021|      1|4000|5000|
|2021|      3|5000|6000|
|2021|      4|6000|7000|
+----+-------+----+----+

In [ ]:
# Define your series
data = [(1, 10), (2, 9), (3, 8), (4, 7), (5, 6), (6, 5), (7, 4), (8, 3), (9, 2), (10, 1)]

# Convert list to DataFrame
df = spark.createDataFrame(data, ["series1", "series2"])

df.show()

+-------+-------+
|series1|series2|
+-------+-------+
|      1|     10|
|      2|      9|
|      3|      8|
|      4|      7|
|      5|      6|
|      6|      5|
|      7|      4|
|      8|      3|
|      9|      2|
|     10|      1|
+-------+-------+

In [ ]:
# Assuming df is your DataFrame
df = spark.createDataFrame([
("A", 1, None),
("B", None, "123" ),
("B", 3, "456"),
("D", None, None),
], ["Name", "Value", "id"])

df.show()

+----+-----+----+
|Name|Value|  id|
+----+-----+----+
|   A|    1|NULL|
|   B| NULL| 123|
|   B|    3| 456|
|   D| NULL|NULL|
+----+-----+----+

In [ ]:
from pyspark.sql.functions import col, sum

missing = df.select(*(sum(col(c).isNull().cast("int")).alias(c) for c in df.columns))
has_missing = any(row.asDict().values() for row in missing.collect())
print(has_missing)

# missing_count = missing.collect()[0].asDict()
# print(missing_count)

True

In [ ]:
data = [('Rahul','Sales',10000),('Bob','Finanace',20000),('Ankit','Marketing',20000),('Jack','Reporting',10000)]
columns = ['Name','Department','Salary']
df = spark.createDataFrame(data,columns)
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
|Rahul|     Sales| 10000|
|  Bob|  Finanace| 20000|
|Ankit| Marketing| 20000|
| Jack| Reporting| 10000|
+-----+----------+------+

In [ ]:
from pyspark.sql.functions import lit
df.columns
df = df.withColumn('Bonus',when(df.Salary < 20000,10).otherwise('Null'))
df.show()

+-----+----------+------+-----+
| Name|Department|Salary|Bonus|
+-----+----------+------+-----+
|Rahul|     Sales| 10000|   10|
|  Bob|  Finanace| 20000| Null|
|Ankit| Marketing| 20000| Null|
| Jack| Reporting| 10000|   10|
+-----+----------+------+-----+

In [ ]:
df = df.withColumn('Total Salary',  df.Salary + ((df.Salary * df.Bonus)/100))

#df.show()

+-----+----------+------+-----+------------+
| Name|Department|Salary|Bonus|Total Salary|
+-----+----------+------+-----+------------+
|Rahul|     Sales| 10000|   10|     11000.0|
|  Bob|  Finanace| 20000| Null|        NULL|
|Ankit| Marketing| 20000| Null|        NULL|
| Jack| Reporting| 10000|   10|     11000.0|
+-----+----------+------+-----+------------+

In [ ]:
pyDict = {}

point_System = [(['A','E','I','O','U','L','N','V','S','T'],1),
                (['D','G'],2),
                (['B','C','M','P'],3),
                (['F','H','B','W','Y'],4),
                (['K'],5),
                (['J','X'],8),
                (['G','Z'],10)]

for i,j in point_System:
    for ii in i:
        pyDict.update({ii:j})
    #print(i)
    #print(j)
        
#print(pyDict)

name = 'MOHIT'
total = 0
for a in name:
    val = pyDict.get(a)
    total= total + val

print(total)

10

In [ ]:
a = [4,8,43,56,33,12,59,345]
print(a)

print(a.sort())

[4, 8, 43, 56, 33, 12, 59, 345]
<built-in method sort of list object at 0x0000020C902B1E80>

In [ ]:
# val = input("Enter the value")
# print(val)

1

In [ ]:
a = [4,8,43,56,33,12,59,345]
#print(a)
a.sort()
print(a)
b = 67
position = 0
for i in a:
    # print("I is ", i)
    # print(" Index of i is",a.index(i))
    if(i > b ):
       position = a.index(i)
       print("Position", position)

a.insert(position,b)        
print(a)

[4, 8, 12, 33, 43, 56, 59, 345]
Position 7
[4, 8, 12, 33, 43, 56, 59, 67, 345]

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 53910)
Traceback (most recent call last):
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 755, in __init__
    self.handle()
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\accumulators.py", line 295, in handle
    poll(accum_updates)
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\accumulators.py", line 267, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\serializers.py", line 594, in read_int
    length = stream.read(4)
             ^^^^^^^^^^^^^^
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socket.py", line 706, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
----------------------------------------

In [ ]:


emp_data = [(1,'manish',50000,'IT','m'),
(2,'vikash',60000,'sales','m'),
(3,'raushan',70000,'marketing','m'),
(4,'mukesh',80000,'IT','m'),
(5,'priti',90000,'sales','f'),
(6,'nikita',45000,'marketing','f'),
(7,'ragini',55000,'marketing','f'),
(8,'rashi',100000,'IT','f'),
(9,'aditya',65000,'IT','m'),
(10,'rahul',50000,'marketing','m'),
(11,'rakhi',50000,'IT','f'),
(12,'akhilesh',90000,'sales','m')]

columns = ['Id','Name','Salary','Department','Gender']

# emp_df = spark.createDataframe(data= emp_data,schema = columns)
df = spark.createDataFrame(data=emp_data, schema = columns)

# print(df.groupBy('Department').count().show())
# print(df.groupBy('Department').agg(sum('Salary')).show())


from pyspark.sql.window import Window
from pyspark.sql.functions import *

window = Window.partitionBy(col('Department'))

emp_df = df.withColumn('TotalSalary',sum(col('Salary')).over(window)) \
         .show(truncate = False)

+---+--------+------+----------+------+-----------+
|Id |Name    |Salary|Department|Gender|TotalSalary|
+---+--------+------+----------+------+-----------+
|1  |manish  |50000 |IT        |m     |345000     |
|4  |mukesh  |80000 |IT        |m     |345000     |
|8  |rashi   |100000|IT        |f     |345000     |
|9  |aditya  |65000 |IT        |m     |345000     |
|11 |rakhi   |50000 |IT        |f     |345000     |
|3  |raushan |70000 |marketing |m     |220000     |
|6  |nikita  |45000 |marketing |f     |220000     |
|7  |ragini  |55000 |marketing |f     |220000     |
|10 |rahul   |50000 |marketing |m     |220000     |
|2  |vikash  |60000 |sales     |m     |240000     |
|5  |priti   |90000 |sales     |f     |240000     |
|12 |akhilesh|90000 |sales     |m     |240000     |
+---+--------+------+----------+------+-----------+

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import *

# window = Window.partitionBy(col('Department')).orderBy(col('Salary')).rowsBetween(Window.unboundedPreceding,Window.unboundedFollowing)
window = Window.partitionBy(col('Department')).orderBy(col('Salary'))

emp_df = df.withColumn('TotalSalary',sum(col('Salary')).over(window)) 
# emp_df = df.withColumn('TotalDepartmentSalary',row_number().over(window))

emp_df.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Window [sum(Salary#632L) windowspecdefinition(Department#633, Salary#632L ASC NULLS FIRST, specifiedwindowframe(RangeFrame, unboundedpreceding$(), currentrow$())) AS TotalSalary#743L], [Department#633], [Salary#632L ASC NULLS FIRST]
   +- Sort [Department#633 ASC NULLS FIRST, Salary#632L ASC NULLS FIRST], false, 0
      +- Exchange hashpartitioning(Department#633, 200), ENSURE_REQUIREMENTS, [plan_id=998]
         +- Scan ExistingRDD[Id#630L,Name#631,Salary#632L,Department#633,Gender#634]

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 62720)
Traceback (most recent call last):
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 755, in __init__
    self.handle()
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\accumulators.py", line 295, in handle
    poll(accum_updates)
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\accumulators.py", line 267, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\10694387\OneDrive - LTIMindtree\Documents\WinUtilsForHadoop\spark-3.5.0\python\pyspark\serializers.py", line 594, in read_int
    length = stream.read(4)
             ^^^^^^^^^^^^^^
  File "c:\Users\10694387\AppData\Local\Programs\Python\Python311\Lib\socket.py", line 706, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
----------------------------------------

In [ ]:
product_data = [
(1,"iphone","01-01-2023",1500000),
(2,"samsung","01-01-2023",1100000),
(3,"oneplus","01-01-2023",1100000),
(1,"iphone","01-02-2023",1300000),
(2,"samsung","01-02-2023",1120000),
(3,"oneplus","01-02-2023",1120000),
(1,"iphone","01-03-2023",1600000),
(2,"samsung","01-03-2023",1080000),
(3,"oneplus","01-03-2023",1160000),
(1,"iphone","01-04-2023",1700000),
(2,"samsung","01-04-2023",1800000),
(3,"oneplus","01-04-2023",1170000),
(1,"iphone","01-05-2023",1200000),
(2,"samsung","01-05-2023",980000),
(3,"oneplus","01-05-2023",1175000),
(1,"iphone","01-06-2023",1100000),
(2,"samsung","01-06-2023",1100000),
(3,"oneplus","01-06-2023",1200000)
]

columns = ['Id','Name','Date','Sales']

# emp_df = spark.createDataframe(data= emp_data,schema = columns)
df = spark.createDataFrame(data=product_data, schema = columns)
df.show()

+---+-------+----------+-------+
| Id|   Name|      Date|  Sales|
+---+-------+----------+-------+
|  1| iphone|01-01-2023|1500000|
|  2|samsung|01-01-2023|1100000|
|  3|oneplus|01-01-2023|1100000|
|  1| iphone|01-02-2023|1300000|
|  2|samsung|01-02-2023|1120000|
|  3|oneplus|01-02-2023|1120000|
|  1| iphone|01-03-2023|1600000|
|  2|samsung|01-03-2023|1080000|
|  3|oneplus|01-03-2023|1160000|
|  1| iphone|01-04-2023|1700000|
|  2|samsung|01-04-2023|1800000|
|  3|oneplus|01-04-2023|1170000|
|  1| iphone|01-05-2023|1200000|
|  2|samsung|01-05-2023| 980000|
|  3|oneplus|01-05-2023|1175000|
|  1| iphone|01-06-2023|1100000|
|  2|samsung|01-06-2023|1100000|
|  3|oneplus|01-06-2023|1200000|
+---+-------+----------+-------+

In [ ]:
window = Window.partitionBy('Name').orderBy('Sales')

df = df.withColumn('PreviousMonthSales',lag('Sales',1).over(window))
df.show()

+---+-------+----------+-------+------------------+
| Id|   Name|      Date|  Sales|PreviousMonthSales|
+---+-------+----------+-------+------------------+
|  1| iphone|01-06-2023|1100000|              NULL|
|  1| iphone|01-05-2023|1200000|           1100000|
|  1| iphone|01-02-2023|1300000|           1200000|
|  1| iphone|01-01-2023|1500000|           1300000|
|  1| iphone|01-03-2023|1600000|           1500000|
|  1| iphone|01-04-2023|1700000|           1600000|
|  3|oneplus|01-01-2023|1100000|              NULL|
|  3|oneplus|01-02-2023|1120000|           1100000|
|  3|oneplus|01-03-2023|1160000|           1120000|
|  3|oneplus|01-04-2023|1170000|           1160000|
|  3|oneplus|01-05-2023|1175000|           1170000|
|  3|oneplus|01-06-2023|1200000|           1175000|
|  2|samsung|01-05-2023| 980000|              NULL|
|  2|samsung|01-03-2023|1080000|            980000|
|  2|samsung|01-01-2023|1100000|           1080000|
|  2|samsung|01-06-2023|1100000|           1100000|
|  2|samsung|01-02-2023|1120000|           1100000|
|  2|samsung|01-04-2023|1800000|           1120000|
+---+-------+----------+-------+------------------+

In [ ]:
df = df.withColumn('IncreaseOrDecrease',col('Sales') - col('PreviousMonthSales')).show()

+---+-------+----------+-------+------------------+------------------+
| Id|   Name|      Date|  Sales|PreviousMonthSales|IncreaseOrDecrease|
+---+-------+----------+-------+------------------+------------------+
|  1| iphone|01-06-2023|1100000|              NULL|              NULL|
|  1| iphone|01-05-2023|1200000|           1100000|            100000|
|  1| iphone|01-02-2023|1300000|           1200000|            100000|
|  1| iphone|01-01-2023|1500000|           1300000|            200000|
|  1| iphone|01-03-2023|1600000|           1500000|            100000|
|  1| iphone|01-04-2023|1700000|           1600000|            100000|
|  3|oneplus|01-01-2023|1100000|              NULL|              NULL|
|  3|oneplus|01-02-2023|1120000|           1100000|             20000|
|  3|oneplus|01-03-2023|1160000|           1120000|             40000|
|  3|oneplus|01-04-2023|1170000|           1160000|             10000|
|  3|oneplus|01-05-2023|1175000|           1170000|              5000|
|  3|oneplus|01-06-2023|1200000|           1175000|             25000|
|  2|samsung|01-05-2023| 980000|              NULL|              NULL|
|  2|samsung|01-03-2023|1080000|            980000|            100000|
|  2|samsung|01-01-2023|1100000|           1080000|             20000|
|  2|samsung|01-06-2023|1100000|           1100000|                 0|
|  2|samsung|01-02-2023|1120000|           1100000|             20000|
|  2|samsung|01-04-2023|1800000|           1120000|            680000|
+---+-------+----------+-------+------------------+------------------+

find out the avg sal of managers, there are multiple employees can work under the manager.

In [37]:
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

schema=['id','name','sal','mngr_id']

manager_df= spark.createDataFrame(data=data,schema=schema)
manager_df.show()

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [64]:
manager_df_new= manager_df

In [77]:
from pyspark.sql.functions import col
df1 = manager_df.groupBy('mngr_id').avg('sal')

# df1.printSchema()
df1.show()
df1.alias("emp1").join(manager_df.alias("emp2"),col("emp1.mngr_id")==col("emp2.id"),'inner').select(col("emp1.mngr_id"),col("emp2.name"),col("emp1.avg(sal)")).show()

+-------+--------+
|mngr_id|avg(sal)|
+-------+--------+
|     18| 53750.0|
|     16| 65000.0|
|     17| 62500.0|
|     10| 90000.0|
+-------+--------+

+-------+------+--------+
|mngr_id|  name|avg(sal)|
+-------+------+--------+
|     10|  Anil| 90000.0|
|     16|Rajesh| 65000.0|
|     17| Raman| 62500.0|
|     18|   Sam| 53750.0|
+-------+------+--------+

In [71]:
manager_df.createOrReplaceTempView("manager_tbl")
spark.sql("""
select * from manager_tbl
""").show()

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [ ]:
spark.sql("""
select * from manager_tbl
""").show()

Find out the employees whoes salary is greater than their manager.

In [78]:
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

schema=['id','name','sal','mngr_id']

emp_df= spark.createDataFrame(data=data,schema=schema)
emp_df.show()

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [101]:
# df_new = emp_df.groupBy('mngr_id','sal').count()
df_new = emp_df
df_new.show()

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [106]:
dff =df_new.alias('emp1').join(emp_df.alias('emp2'),col('emp1.id')== col('emp2.mngr_id'),"right").select(col('emp2.id'),col('emp2.name'),col('emp2.sal'),col('emp2.mngr_id'),col('emp1.sal').alias('mngr_salr')).show()

+---+------+-----+-------+---------+
| id|  name|  sal|mngr_id|mngr_salr|
+---+------+-----+-------+---------+
| 10|  Anil|50000|     18|    65000|
| 11| Vikas|75000|     16|    90000|
| 12| Nisha|40000|     18|    65000|
| 13| Nidhi|60000|     17|    55000|
| 14| Priya|80000|     18|    65000|
| 15| Mohit|45000|     18|    65000|
| 16|Rajesh|90000|     10|    50000|
| 18|   Sam|65000|     17|    55000|
| 17| Raman|55000|     16|    90000|
+---+------+-----+-------+---------+

In [105]:
dff.filter(col('sal')>col('mngr_salr')).show()

+---+------+-----+-------+---------+
| id|  name|  sal|mngr_id|mngr_salr|
+---+------+-----+-------+---------+
| 16|Rajesh|90000|     10|    50000|
| 13| Nidhi|60000|     17|    55000|
| 18|   Sam|65000|     17|    55000|
| 14| Priya|80000|     18|    65000|
+---+------+-----+-------+---------+

In [111]:
emp_df.createOrReplaceTempView('emp_df')
df_new.createOrReplaceTempView('df_new')

In [113]:
spark.sql("""
          
          select * from 
          (
            select emp2.id,emp2.name,emp2.sal,emp2.mngr_id,emp1.sal as mngr_salr from df_new as emp1 inner join emp_df as emp2
            on emp1.id == emp2.mngr_id
          )
          where sal > mngr_salr
          
          """).show()

+---+------+-----+-------+---------+
| id|  name|  sal|mngr_id|mngr_salr|
+---+------+-----+-------+---------+
| 16|Rajesh|90000|     10|    50000|
| 13| Nidhi|60000|     17|    55000|
| 18|   Sam|65000|     17|    55000|
| 14| Priya|80000|     18|    65000|
+---+------+-----+-------+---------+

AMAZONE Interview Questions - find the sal of employees whoes sal is greater than avg sal of dept

In [334]:
data=[(10,3 ),
(11 ,2),
(12 ,2),
(13 ,3),
(14 ,1),
(15 ,1),
(16 ,2),
(17 ,4),
(18 ,4)]

schema=['EmpIdd','DeptId']

dept_df= spark.createDataFrame(data=data,schema=schema)
dept_df.show()

+------+------+
|EmpIdd|DeptId|
+------+------+
|    10|     3|
|    11|     2|
|    12|     2|
|    13|     3|
|    14|     1|
|    15|     1|
|    16|     2|
|    17|     4|
|    18|     4|
+------+------+

In [115]:
emp_df.show()

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [120]:
df3= dept_df.join(emp_df, dept_df.EmpIdd == emp_df.id,'inner').select('id','name','sal','mngr_id','DeptId')

In [127]:
df4 = df3.groupBy('DeptId').avg('sal')
df4.show()

+------+-----------------+
|DeptId|         avg(sal)|
+------+-----------------+
|     1|          62500.0|
|     3|          55000.0|
|     2|68333.33333333333|
|     4|          60000.0|
+------+-----------------+

In [130]:
df5 = df4.alias('emp1').join(df3.alias('emp2'), col('emp2.DeptId') == col('emp1.DeptId'),'inner').select(col('emp2.id'),col('emp2.name'),col('emp2.sal'),col('emp2.mngr_id'),col('emp2.DeptId'),col('emp1.avg(sal)'))

In [132]:
df5.filter(col('sal')>col('avg(sal)')).show()

+---+------+-----+-------+------+-----------------+
| id|  name|  sal|mngr_id|DeptId|         avg(sal)|
+---+------+-----+-------+------+-----------------+
| 11| Vikas|75000|     16|     2|68333.33333333333|
| 13| Nidhi|60000|     17|     3|          55000.0|
| 14| Priya|80000|     18|     1|          62500.0|
| 16|Rajesh|90000|     10|     2|68333.33333333333|
| 18|   Sam|65000|     17|     4|          60000.0|
+---+------+-----+-------+------+-----------------+

In [133]:
data=[(1 ,'india'),
(2 ,'US'),
(3 ,'Australia'),
(4 ,'Japan'),
]

schema=['countryId','countryName']

country_df= spark.createDataFrame(data=data,schema=schema)
country_df.show()

+---------+-----------+
|countryId|countryName|
+---------+-----------+
|        1|      india|
|        2|         US|
|        3|  Australia|
|        4|      Japan|
+---------+-----------+

In [140]:
data=[(1 ,1,50000),
(1 ,2,75000),
(1 ,3,40000),
(2 ,1,60000),
(3 ,1,80000),
(2 ,2,45000),
(3 ,2,90000),
(4 ,1,55000),
]

schema=['cId','cityId','popullation']

pop_df= spark.createDataFrame(data=data,schema=schema)
pop_df.show()

+---+------+-----------+
|cId|cityId|popullation|
+---+------+-----------+
|  1|     1|      50000|
|  1|     2|      75000|
|  1|     3|      40000|
|  2|     1|      60000|
|  3|     1|      80000|
|  2|     2|      45000|
|  3|     2|      90000|
|  4|     1|      55000|
+---+------+-----------+

In [147]:
df2 = country_df.alias('emp1').join(pop_df.alias('emp2'),col('emp1.countryId') == col('emp2.cId'),'inner').select(col('emp2.cId'),col('emp2.popullation'),col('emp1.countryName'))

In [205]:
df2.show()

+---+-----------+-----------+
|cId|popullation|countryName|
+---+-----------+-----------+
|  1|      50000|      india|
|  1|      75000|      india|
|  1|      40000|      india|
|  2|      60000|         US|
|  2|      45000|         US|
|  3|      80000|  Australia|
|  3|      90000|  Australia|
|  4|      55000|      Japan|
+---+-----------+-----------+

In [217]:
df2.groupBy('cId').pivot('countryName').sum('popullation').show()

+---+---------+-----+------+------+
|cId|Australia|Japan|    US| india|
+---+---------+-----+------+------+
|  1|     NULL| NULL|  NULL|165000|
|  2|     NULL| NULL|105000|  NULL|
|  3|   170000| NULL|  NULL|  NULL|
|  4|     NULL|55000|  NULL|  NULL|
+---+---------+-----+------+------+

In [194]:
df3 = df2.groupBy('countryName').sum('popullation').withColumnRenamed("sum('popullation')", "pop")
# df3.show()

In [203]:
# drop rows with id less than 4 
df3.where((col('countryName') == 'india') | (col('countryName') == 'US')).show()

+-----------+----------------+
|countryName|sum(popullation)|
+-----------+----------------+
|      india|          165000|
|         US|          105000|
+-----------+----------------+

In [204]:
df4 = df3.where((col('countryName') == 'india') | (col('countryName') == 'US'))

In [213]:
df4.show()

+-----------+----------------+
|countryName|sum(popullation)|
+-----------+----------------+
|      india|          165000|
|         US|          105000|
+-----------+----------------+

In [221]:
df5 =df4.groupBy('countryName').pivot('countryName').sum()

In [222]:
df5.show()

+-----------+------+------+
|countryName|    US| india|
+-----------+------+------+
|      india|  NULL|165000|
|         US|105000|  NULL|
+-----------+------+------+

In [226]:
df6 = df5.drop('countryName')

In [227]:
df6.fillna(0).show()

+------+------+
|    US| india|
+------+------+
|     0|165000|
|105000|     0|
+------+------+

In [231]:
# Using sum() on multiple columns
from pyspark.sql.functions import sum
df7 = df6.select(sum(df6.US).alias("US"), 
          sum(df6.india).alias("INDIA")
    )

In [232]:
df8 = df7.withColumn('TotalPop', df7.US + df7.INDIA).show()

+------+------+--------+
|    US| INDIA|TotalPop|
+------+------+--------+
|105000|165000|  270000|
+------+------+--------+

In [233]:
data=[(1 ,1,50000),
(1 ,2,75000),
(1 ,3,40000),
(2 ,1,60000),
(3 ,1,80000),
(2 ,2,45000),
(3 ,2,90000),
(4 ,1,55000),
]

schema=['countryId','cityId','popullation']

pop_df= spark.createDataFrame(data=data,schema=schema)
pop_df.show()

+---------+------+-----------+
|countryId|cityId|popullation|
+---------+------+-----------+
|        1|     1|      50000|
|        1|     2|      75000|
|        1|     3|      40000|
|        2|     1|      60000|
|        3|     1|      80000|
|        2|     2|      45000|
|        3|     2|      90000|
|        4|     1|      55000|
+---------+------+-----------+

In [234]:
data=[(1 ,'india'),
(2 ,'US'),
(3 ,'Australia'),
(4 ,'Japan'),
]

schema=['countryId','countryName']

country_df= spark.createDataFrame(data=data,schema=schema)
country_df.show()

+---------+-----------+
|countryId|countryName|
+---------+-----------+
|        1|      india|
|        2|         US|
|        3|  Australia|
|        4|      Japan|
+---------+-----------+

In [240]:
pop_df.createOrReplaceTempView('pop_tble')

In [239]:
country_df.createOrReplaceTempView('country_tble')

In [256]:
spark.sql("""    
           
          select pt.countryId,pt.cityId,pt.popullation,ct.countryName from pop_tble as pt 
        inner join country_tble as ct 
        on pt.countryId = ct.countryId
         """).show()


# df2 = country_df.alias('emp1').join(pop_df.alias('emp2'),col('emp1.countryId') == col('emp2.cId'),'inner').select(col('emp2.cId'),col('emp2.popullation'),col('emp1.countryName'))

+---------+------+-----------+-----------+
|countryId|cityId|popullation|countryName|
+---------+------+-----------+-----------+
|        1|     1|      50000|      india|
|        1|     2|      75000|      india|
|        1|     3|      40000|      india|
|        2|     1|      60000|         US|
|        2|     2|      45000|         US|
|        3|     1|      80000|  Australia|
|        3|     2|      90000|  Australia|
|        4|     1|      55000|      Japan|
+---------+------+-----------+-----------+

In [280]:
pop_df1 = spark.sql("""
          
        select countryName,sum(popullation) as popSum from
        (select pt.countryId,pt.cityId,pt.popullation,ct.countryName from pop_tble as pt 
        inner join country_tble as ct 
        on pt.countryId = ct.countryId )    
        GROUP BY countryName  
         
         """)
pop_df1.show()

+-----------+------+
|countryName|popSum|
+-----------+------+
|      india|165000|
|         US|105000|
|      Japan| 55000|
|  Australia|170000|
+-----------+------+

In [276]:
pop_df1.createOrReplaceTempView('pop_df1')

In [310]:
spark.sql('''
          select INDIA,USA, INDIA + USA from (
          select sum(INDIA) as INDIA,SUM(USA) as USA FROM 
          (
          select 
          case when countryName == 'india' then popSum else 0 end as INDIA,
          case when countryName == 'US' then popSum else 0 end as USA          
          FROM pop_df1))
         
         ''').show()

+------+------+-------------+
| INDIA|   USA|(INDIA + USA)|
+------+------+-------------+
|165000|105000|       270000|
+------+------+-------------+

In [281]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
data = [("James","M",60000),("Michael","M",70000),
        ("Robert",None,400000),("Maria","F",500000),
        ("Jen","",None)]

columns = ["name","gender","salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.show()

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
|  James|     M| 60000|
|Michael|     M| 70000|
| Robert|  NULL|400000|
|  Maria|     F|500000|
|    Jen|      |  NULL|
+-------+------+------+

In [283]:
df2=df.select(when(df.gender == "M","Male")
                  .when(df.gender == "F","Female")
                  .when(df.gender.isNull() ,"")
                  .otherwise(df.gender).alias("new_gender"))

df2.show()

+----------+
|new_gender|
+----------+
|      Male|
|      Male|
|          |
|    Female|
|          |
+----------+

In [284]:
from pyspark.sql.functions import when
df2 = df.withColumn("new_gender", when(df.gender == "M","Male")
                                 .when(df.gender == "F","Female")
                                 .when(df.gender.isNull() ,"")
                                 .otherwise(df.gender))
df2.show()

+-------+------+------+----------+
|   name|gender|salary|new_gender|
+-------+------+------+----------+
|  James|     M| 60000|      Male|
|Michael|     M| 70000|      Male|
| Robert|  NULL|400000|          |
|  Maria|     F|500000|    Female|
|    Jen|      |  NULL|          |
+-------+------+------+----------+

In [285]:
pop_df1.show()

+-----------+------+
|countryName|popSum|
+-----------+------+
|      india|165000|
|         US|105000|
|      Japan| 55000|
|  Australia|170000|
+-----------+------+

In [298]:
pop_df2 = pop_df1.select(when(pop_df1.countryName == 'india',pop_df1.popSum).otherwise(0).alias('INDIA')
               ,when(pop_df1.countryName == 'US',pop_df1.popSum).otherwise(0).alias('USA') )

pop_df2.show()

+------+------+
| INDIA|   USA|
+------+------+
|165000|     0|
|     0|105000|
|     0|     0|
|     0|     0|
+------+------+

In [312]:
pop_df3=pop_df2.select( sum(col('INDIA')).alias('INDIA'),sum(col('USA')).alias('USA'))
pop_df3.show()

+------+------+
| INDIA|   USA|
+------+------+
|165000|105000|
+------+------+

In [327]:
from pyspark.sql.functions import *
# pop_df3.withColumns('TotalSum', sum(pop_df3[col] for col in pop_df3.columns)).collect()
# pop_df3.withColumns('TotalSum', expr("pop_df3.INDIA + pop_df3.USA")).show()
pop_df3.select('*', (col("USA")+col("INDIA").alias("total"))).show()

+------+------+----------------------+
| INDIA|   USA|(USA + INDIA AS total)|
+------+------+----------------------+
|165000|105000|                270000|
+------+------+----------------------+

In [340]:



data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

schema=['id','name','sal','mngr_id']

emp_df= spark.createDataFrame(data=data,schema=schema)
emp_df.show()

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [338]:
dept_df.show()
emp_df.show()

+------+------+
|EmpIdd|DeptId|
+------+------+
|    10|     3|
|    11|     2|
|    12|     2|
|    13|     3|
|    14|     1|
|    15|     1|
|    16|     2|
|    17|     4|
|    18|     4|
+------+------+

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [337]:
print(spark.sessionState.executePlan(emp_df.queryExecution.logical).optimizedPlan.stats.sizeInBytes)

AttributeError: 'SparkSession' object has no attribute 'sessionState'